@model FoodHealthModulo2.Models.Foods.FoodType

@{
    ViewBag.Title = "Delete";
}

<header class="masthead">
    <div class="container d-flex h-100 align-items-center">
        <div class="container-fluid rounded" style="background-color: #F5F5F5 ;">
            <h3 class="text-danger" style="padding-top:80px">¿Esta seguro de borrar esto?</h3>
            <div>
                <hr />
                <h4>Borrar Tipo de Alimento</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Name)
                    </dd>

                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Borrar" class="btn btn-danger" /> |
                        @Html.ActionLink("Volver a la Lista", "Index", new { }, new { @class = "btn btn-secondary" })
                    </div>
                    <br />
                }
            </div>
        </div>
    </div>
</header>
