@{
    ViewBag.Title = "Contáctanos";
}
<header class="masthead">
    <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
            <h1 class="mx-auto my-0 text-uppercase">FoodHealth</h1>
            <h2 class="text-white-50 mx-auto mt-2 mb-5">Menús</h2>
        </div>
    </div>
</header>

<section id="projects" class="projects-section bg-light">
    <div class="container">

        <!-- Featured Project Row -->
        <div class="row align-items-center no-gutters mb-4 mb-lg-5">
            <div class="col-xl-8 col-lg-7">
                <img class="img-fluid mb-3 mb-lg-0" src="~/dis/img/bg-signup.jpg" alt="">
            </div>
            <div class="col-xl-4 col-lg-5">
                <div class="featured-text text-center text-lg-left">
                    <h4>Contáctanos</h4>
                    <p class="text-black-50 mb-0">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                        it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
                   
                        <div class="social d-flex justify-content-center">
                            <a href="#" class="mx-2">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="#" class="mx-2">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="#" class="mx-2">
                                <i class="fab fa-github"></i>
                            </a>
                        </div>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>