@{
ViewBag.Title = "FoodHealth";
}

<header class="masthead">
    <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
            <h1 class="mx-auto my-0 text-uppercase">FoodHealth</h1>
            <h2 class="text-white-50 mx-auto mt-2 mb-5">Menús</h2>
        </div>
    </div>
</header>

<section id="about" class="about-section text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2 class="text-white mb-4">Recuerda que...</h2>
                <p class="text-white-50">
                    Para poder ingresar al apartado de domicilios de FoodHealth tienes que registrarte en nuestra
                    <a href="#">página oficial</a>. Si todavia sigue presentando problemas a la hora de iniciar sesion, comunicate a nuestras lineas en la página oficial
                </p>
            </div>
        </div>
        <img src="img/ipad.png" class="img-fluid" alt="">
    </div>
</section>


   
