<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Modelo.Properties.Settings.UsuariosConnectionString"
            connectionString="Data Source=DESKTOP-54IKPVH;Initial Catalog=Usuarios;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>